.blue {
    border: 2px solid blue;
    margin: 4px;
}

.green {
    border: 2px solid green;
    margin: 4px;
}

.orange {
    border: 2px solid orange;
    margin: 4px;
}

.purple {
    border: 2px solid purple;
    margin: 4px;
}
